.title {
  max-width: 624px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  padding: 0 16px;
}

@media (min-width: 1200px) {
  .title {
    font-size: 32px;
    text-align: left;
  }
}
