.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 0;
}

@media (min-width: 1200px) {
  .answers {
    flex-direction: row;
    gap: 32px 0;
  }
}
