.bodyGame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f5f5f7;
  width: 100%;
  padding: 0 0 24px;
}

.bodyContainer {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 843px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  gap: 40px 0;
}

@media (min-width: 768px) {
  .bodyGame {
    padding: 133px 0 122px;
  }
}

@media (min-width: 1200px) {
  .bodyContainer {
    align-items: flex-start;
  }
}
