:root {
  /* palette */
  --white-100: #ffffff;

  --black-100: #1c1c21;
  --black-40: #d0d0d8;
  --black-5: #f5f5f7;

  --orange-120: #e87928;
  --orange-100: #ff8b37;
  --orange-80: #ffac70;
  --orange-5: #fff3eb;

  --green-100: #47d867;
  --green-5: #e6faea;

  --red-100: #ec6259;
  --red-5: #fdeeed;

  /* semantic */
  --color-bg-primary: var(--white-100);
  --color-bg-secondary: var(--orange-5);

  --color-text-primary: var(--black-100);
  --color-text-secondary: var(--black-40);

  --color-accent: var(--orange-100);
  --color-accent-hover: var(--orange-80);
  --color-accent-active: var(--orange-120);

  --color-success: var(--green-100);
  --color-success-bg: var(--green-5);

  --color-error: var(--red-100);
  --color-error-bg: var(--red-5);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}

button {
  font: inherit;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
