.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.overlayOpen {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black-5);
  transform: translateX(100%);
  transition: transform 0.3s;
  overflow-y: auto;
  z-index: 99;
}

.sidebarScroll {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.sidebarOpen {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .overlay {
    display: none;
  }

  .sidebar {
    position: static;
    height: auto;
    width: 100%;
    max-width: 376px;
    transform: none;
    transition: none;
    background: initial;
    overflow: visible;
  }
}
